!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ИМПЗ"
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"

    %link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
    = stylesheet_link_tag "site", :media => "all"
    %link(href="favicon.ico" rel="shortcut icon")

  %body
    = render 'layouts/shared/web/header'
    .container.top-sections
      .row
        .span3
          = image_tag asset_path('deyatelnost-4.png')
          = link_to 'Выезд специалиста', '#'
          %p Краткое описание раздела, описывающее его содержание
        .span3
          = image_tag asset_path('deyatelnost-4.png')
          = link_to 'Выезд специалиста', '#'
          %p Краткое описание раздела, описывающее его содержание
        .span3
          = image_tag asset_path('deyatelnost-4.png')
          = link_to 'Выезд специалиста', '#'
          %p Краткое описание раздела, описывающее его содержание
        .span3
          = image_tag asset_path('deyatelnost-4.png')
          = link_to 'Выезд специалиста', '#'
          %p Краткое описание раздела, описывающее его содержание

    #content.container.content
      .row
        .span12
          %h2 О нас
          %p
            «Инзенский завод металлопроката» работает на рынке более 10-ти лет и уже известен потребителю как надежный и опытный производитель металлопроката. Имея в своей базе собственные производственные площади, а так же высококачественное оборудование лучших производителей, своевременно реализуются основные цели компании: выпуск качественной продукции в связи требованиями потребителей, соблюдение сроков изготовления продукции, повышение благосостояния работников компании. В целях повышения квалификации сотрудников производится постоянное обучение персонала.
          .row
            .span6
              %ul
                %li Вся продукция изготавливается по ГОСТу
                %li Индивидуальный подход к каждому заказу
                %li Уникальные современные технологии
            .span6
              %ul
                %li Большой выбор продукции и доборных элементов
                %li Вызов специалсита для проведения замеров
          = bootstrap_flash
          = yield

    = render 'layouts/shared/web/footer'
    = render 'layouts/shared/web/footer_company'

    = javascript_include_tag "site"
    = render 'layouts/shared/web/counters/yandex'
