%header.header
  .header-inner

    = link_to '', root_path, class: 'brand'

    .fast-consult
      %p Быстрая консультация
      %p
        8 (8422)
        %span.phone 11 22 33

    .navbar
      .navbar-inner
        .container
          %ul.nav.nav-collapse
            %li= link_to "О заводе", page_path(:about)
            %li= link_to "Продукция", page_path(:products)
            %li= link_to "Преимущества", page_path(:benefits)
            %li= link_to "Доставка и нарезка", page_path(:shipping)
            %li= link_to "Контакты", contacts_path

    .container
      .span10.offset2
        .top-carousel
          #top-carousel-inner.inner-carousel
            .item
              .item-header
                .title Металлический профиль
                .subtitle Высококачественный профиль различных видов
              %img(src="#{asset_path('gray-bg.png')}")
            .item
              .item-header
                .title Металлический профиль
                .subtitle Высококачественный профиль различных видов
              %img(src="#{asset_path('gray-bg.png')}")
            .item
              .item-header
                .title Металлический профиль
                .subtitle Высококачественный профиль различных видов
              %img(src="#{asset_path('gray-bg.png')}")
            .item
              .item-header
                .title Металлический профиль
                .subtitle Высококачественный профиль различных видов
              %img(src="#{asset_path('gray-bg.png')}")
          .clearfix
          %a#top-carousel-inner_prev.prev(href="#")
          %a#top-carousel-inner_next.next(href="#")
          #top-carousel-inner_pag.pagination