%header.header
  .header-inner

    = link_to '', root_path, class: 'brand'

    .fast-consult
      %p Отдел продаж
      %p
        +7 (84241)
        %span.phone 2-46-83
        %br
        +7 937
        %span.phone 989-85-40

    .navbar
      .navbar-inner
        .container
          %ul.nav.nav-collapse
            -#%li= link_to "О заводе", page_path(:about)
            %li= link_to "Продукция", page_path(:products)
            %li= link_to "Прайс-лист", page_path(:price)
            %li= link_to "Условия сотрудничества", page_path(:cooperation_terms)
            %li= link_to "Контакты", page_path(:contacts)

    .container
      .span10.offset2
        .top-carousel
          #top-carousel-inner.inner-carousel
            .item
              .item-header
                .title Металлический профиль
                .subtitle Высококачественный профиль различных видов
              %img(src="#{asset_path('c-item-1-1.png')}")
            .item
              .item-header
                .title Металлочерепица
                .subtitle Большой выбор цветов, лучшее качество
              %img(src="#{asset_path('c-item-1.png')}")
            -#.item
            -#  .item-header
            -#    .title Металлический профиль
            -#    .subtitle Высококачественный профиль различных видов
            -#  %img(src="#{asset_path('c-item-1.png')}")
            -#.item
            -#  .item-header
            -#    .title Металлический профиль
            -#    .subtitle Высококачественный профиль различных видов
            -#  %img(src="#{asset_path('c-item-1.png')}")
          .clearfix
          %a#top-carousel-inner_prev.prev(href="#")
          %a#top-carousel-inner_next.next(href="#")
          #top-carousel-inner_pag.pagination